input {
    background-color: rgb(233, 233, 150);
    font-weight: 600;
    width: 250px;
    height: 30px;
}

.submit-btn {
    background-color: rgb(77, 183, 224);
    color: white;
    font-weight: 600;
    border: 0px;
    width: 100px;
    height: 30px;
    margin-top: 10px;
}

.submit-btn:hover {
    background-color: black;
}

img {
    width: 140px;
    height: 140px;
}
